[submodule "meu_primeiro_repo/lib/lib/free-programming-books"]
	path = meu_primeiro_repo/lib/lib/free-programming-books
	url = https://github.com/EbookFoundation/free-programming-books.git
[submodule "meu_primeiro_repo/lib/lib/build-your-own-x"]
	path = meu_primeiro_repo/lib/lib/build-your-own-x
	url = https://github.com/codecrafters-io/build-your-own-x.git
[submodule "meu_primeiro_repo/lib/free-programming-books"]
	path = meu_primeiro_repo/lib/free-programming-books
	url = https://github.com/EbookFoundation/free-programming-books.git
[submodule "meu_primeiro_repo/lib/build-your-own-x"]
	path = meu_primeiro_repo/lib/build-your-own-x
	url = https://github.com/codecrafters-io/build-your-own-x.git
